
  <!-- Modal -->
  <div class="modal-backdrop fade show"></div>
  <form [formGroup]="frmLogin" (ngSubmit)="login()">
    <div class="modal fade show" 
            tabindex="-1" 
            style="display: block;" 
            aria-modal="true" 
            role="dialog">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-center" id="loginTitle">
                <i class="bi bi-lock"></i> Login
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                (click)="close(false)"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="text" 
                            formControlName="email"
                            class="form-control"
                            placeholder="User Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" 
                            formControlName="password"
                            class="form-control"
                            placeholder="User Name">
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
            <button type="submit" 
                class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-warning" (click)="close(false)">Cancel</button>
            </div>
        </div>
        </div>
    </div>
  </form>