
<ul class="hor-row">
    <li>100</li>
    <li>200</li>
    <li>300</li>
    <li>400</li>
    <li>500</li>
</ul>
<div class="mycontainer">
    <div class="header">Header</div>
    <div class="left">Left</div>
    <div class="content">
        <div>100</div>
        <div>200</div>
        <div>300</div>
        <div>400</div>
        <div>500</div>
        <div>500</div>
        <div>600</div>
        <div>700</div>
        <div>800</div>
        <div>900</div>
    </div>
    <div class="footer">Footer of the page</div>

</div>

<div class="resp">
    <div class="left">Left</div>
    <div class="center">Center</div>
    <div class="right">Right</div>
</div>